*{
    margin: 0;
    padding: 0;
}
.hero{
    max-width: 100%;
    padding: 20px 30px;
    min-height: 100vh;
    /* background-color: bisque; */
    background-image: url(https://travel.discoverybangladesh.com/images/mymensingh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.8  #4a0f0f;

}
.hero h1{
    /* text-align: center; */
    font-size: 72px;
    font-family: 'Roboto';
    color: azure;
    /* display: inline-block; */
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    background-color:#4a0f0f;
    /* background-size: fix-content; */
    padding: 8px 23px;
}
.about{
    max-width: 60%;
    /* background-color: antiquewhite; */
    padding: 20px 30px;
    text-align: justify;
}
.about h2{
    font-size: 56px;
    width: fit-content;
    color: black;
    margin-bottom: 30px;
    padding: 20px 0 20px 0;
    /* border-bottom: 3px solid red; */
}
.about h2:hover{
    /* background-color: rgb(224, 134, 236); */
    /* transition: 1s; */
    cursor: pointer;
    color: darkblue;
    padding-top: none;
    padding-bottom: none;
    border-bottom: 4px solid #4a0f0f;}
.about p{
    font-size: 24px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}

hr{
    height: 5px;
    width: 60px;
    margin-top: 0;
    margin-bottom:50px;
    background-color: green;
}
.title-places h2{
    font-size: 56px;
    width: fit-content;
    color: black;
    margin: 0 auto;
    margin-bottom: 50px;
    visibility: ;
    padding: 30px 0 10px 0;
    border-bottom: 3px solid red;
}
.places{
    display: flex;
    width: 100%;
    height: 380px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* justify-content: center; */
    /* justify-items: ; */
    /* flex-basis: 400px; */
}
.places .items{
    flex-basis: 24%;
    height: auto;
    /* position: absolute; */
    
    
    /* width: 300px; */
}
.places .items img{
    width: 100%;
    height: 380px;
}
.places .items h2{
    /* position: relative;
    margin-top: 50px;
} */
